html,
body {
    font-family: "Exo", sans-serif !important;
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

p {
    margin: 0 !important;
}

h1 {
    margin: 0 !important;
}

h2 {
    margin: 0 !important;
    font-size: 3rem !important;
    font-weight: 600;
}

h3 {
    margin: 0 !important;
}

h4 {
    margin: 0 !important;
}

.m-t {
    margin: 50px 0;
}


header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header ul {
    display: flex;
    gap: 50px;
    margin: 0 !important;
    justify-content: center;
}

nav li {
    width: auto;
}

nav li a {
    color: white;
    position: relative;
}

nav li a::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background: red;
}

.header-bg nav li a:hover {
    color: red !important;
}

nav li a:hover {
    color: red;
}

.contact {
    background-color: red;
    border-radius: 200px;
    padding: 20px 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 0;
}

.contact i {
    color: white;
}



/* ************header****************** */





.bnr-cnt {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    height: 100%;
    gap: 25px;
    padding-top: 100px;
}

.bnr-cnt p {
    max-width: 710px;
    font-size: 22px;
    opacity: 80%;
}

.bnr-cnt h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.learn-more {
    background-color: red;
    border-radius: 100px;
    padding: 14px 18px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
}




/* *****************hero********************** */


#about {
    color: black;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.heading h4 {
    color: red;
    font-weight: 600;
}

.vision-img {
    background-color: black;
    border-radius: 30px;
    width: fit-content;
    padding: 9px;
}

.about-p {
    opacity: 80%;
}

.mission-img {
    background-color: black;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
}

.vision {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.mission {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.vision-mission b {
    font-size: 26px;
    color: red;
    font-weight: 600;
}

.vision-mission {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.vision-cnt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mission-cnt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img-vision-mission {
    display: flex;
    gap: 30px;
    align-items: center;
}

.vision-mission p {
    line-height: 26px;
    opacity: 80%;
}

.number-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter.col_fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2.timer.count-title.count-number {
    font-size: 60px;
    font-weight: 600;
}

p.count-text {
    font-size: 20px;
    font-weight: 500;
}

.col_fourth h2 {
    color: red;
}

.timer-counter {
    color: black;
}


/* *****************about******************* */


#product {
    background-color: black;
    padding-bottom: 20px;
}

.product-cnt {
    padding: 50px 0;
    color: white;
}

.product-card {
    background-color: white;
    border-radius: 14px;
    color: black;
    padding: 25px;
    margin-top: 50px;
}

.card-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-cnt h3 {
    font-size: 35px;
}

.card-cnt p {
    line-height: 28px;
    max-width: 620px;
    color: rgba(0, 0, 0, 0.79);
}

.none {
    display: none;
}



/* *************products*********** */



.tools-card {
    position: relative;
    border-radius: 15px;
    background-color: #EDEDED;
    overflow: hidden;
    height: calc(100% -10px);
}

.tools-card-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.tools-card-img .main_tool {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tools-card-cnt {
    /* border-radius: 0px 0px 8px 8px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 235px; */
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.tools-card-icon {
    background-color: red;
    border-radius: 100%;
    border: solid 4px #EDEDED;
    position: absolute;
    top: 160px;
    left: 20px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tools-all-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    row-gap: 50px;
}

.hide-by-default {
    display: none;
}

.tools-card-cnt h3 {
    font-size: 30px;
    font-weight: 600;
    max-width: 95%;
}

.tools-card-cnt p {
    max-width: 95%;
}

.more {
    background-color: red;
    border-radius: 100px;
    padding: 14px 18px;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
}

.more a {
    color: white;
}

.arrow-more {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.more i {
    font-size: 22px;
}



/* *************our-collection************** */


#img {
    background-image: url(/img/100vh-img.svg);
    height: 100vh;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.img-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 20px;
}

.img-cnt h2 {
    font-weight: 700;
    font-size: 3.6rem !important;
}

.img-cnt p {
    max-width: 890px;
    font-size: 19px;
    opacity: 80%;
}



/* **************100vh*************** */
.res .slick-slide {
    padding: 16px;
}


.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.team-cnt {
    text-align: center;
}

.team-cnt p {
    color: red;
}

.team-cnt b {
    font-size: 22px;
    font-weight: 600;
}



/* ************team************ */

#our-cleint {
    background-color: #F2F2F2;
    padding: 50px 0;
}

.client-name {
    text-align: center;
}

.client-say {
    text-align: center;
}

.card-bg.n1 {
    background-color: #1B7BA6;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transform: rotate(-10deg);
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
}

.card-bg.n2 {
    background-color: #70BE6A;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transform: rotate(-10deg);
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
}

.card-bg.rd {
    background-color: #45A995;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transform: rotate(-10deg);
    position: absolute;
    transition: all 0.3s ease;
    z-index: -1;
}

.gap-phone .slick-slide {
    padding: 40px 20px 30px 20px;
    width: 100%;
}

.feedback-card {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 46px 30px;
    position: relative;
}

.feedback-card:hover .card-bg {
    transform: rotate(0);
    transition: all 0.3s ease;
}

.padding {
    padding: 20px;
}


.feeedback-img img {
    position: absolute;
    top: -83px;
    left: -41px;
}

.feeedback-img {
    position: relative;
}

.client-name p {
    color: red;
    font-size: 16px;
}

.client-name b {
    font-size: 23px;
    font-weight: 600;
}

.client-say p {
    font-size: 15px;
}


.card-bg .n2 {
    background-color: #020f15 !important;
}





/* *************our-client*************** */


.slick-dots {
    display: none !important;
}




/* ****************partners****************** */




.contact-cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-cnt h4 {
    color: red;
    width: max-content;
}

.line {
    width: 225px;
    height: 3px;
    background: radial-gradient(circle, rgb(233, 7, 7) 0%, rgb(255, 255, 255) 100%);
}

.head-contact {
    margin-bottom: 70px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.input img {
    opacity: 60%;
}

.input {
    border: solid 1.5px rgba(0, 0, 0, 0.505);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message {
    border: solid 1.5px rgba(0, 0, 0, 0.505);
    display: flex;
    gap: 10px;
    padding: 15px 15px 60px;
    border-radius: 10px;
}

.message img {
    opacity: 60%;
}


.send a {
    background-color: #ff2605;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.map iframe {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}


/* ***************contact******************** */


footer {
    background-color: black;
    padding: 20px 0;
    color: white;
}

.footer-nav nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mail-call {
    display: flex;
    gap: 8px;
    align-items: center;
}

.location-footer {
    display: flex;
    gap: 8px;
    align-items: start;
    opacity: 70%;
}

.footer-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.546);
}

.social {
    display: flex;
    gap: 15px;
}

.footer-cnt {
    padding: 45px 0 0;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    opacity: 70%;
}

.footer-cnt hr {
    height: 1px;
    border: none white;
    background: #ffffff;
    opacity: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}



/* *************bg************************ */



.header-bg {
    background-color: #ffffff;
    box-shadow: #00000034 0px -1px 16px -3px;
}

.header-bg .header-cnt {
    padding: 10px 0;
}

.header-bg .header-cnt nav li a {
    color: black;
}



/* *****************hero-slick************** */



.slider-img1 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.532)),
        url(../img/hero-img-1.webp);
}

.slider-img2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.6)),
        url(../img/hero-img-2.jpg);
}

.slider-img3 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.632), rgba(0, 0, 0, 0.751)),
        url(../img/hero-img-3.jpg);
}

.bnr-slider {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    background-repeat: no-repeat;
}

.bnr-cnt {
    color: #fff;
    width: 70%;

}

.banner-slider .slick-prev {
    display: none !important;
}

.banner-slider .slick-next {
    display: none !important;
}

/* *********************logo-slick***************** */

.your-class .slick-prev {
    display: none !important;
}

.your-class .slick-next {
    display: none !important;
}







/* **************hover************* */



.vision {
    transition: 0.3s !important;

}

.vision:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.174);
    padding: 15px;
    border-radius: 10px;
}

.mission {
    transition: 0.3s !important;
}

.mission:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.174);
    padding: 15px;
    border-radius: 10px;
}

.team-img:hover img {
    transform: scale(1.1);
}

.team-img {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.team-img img {
    transition: 0.3s;
}

.your-class img {
    width: 200px;
    width: 100%;
}

/* ****************toggle************* */


.toggle-bt {
    display: none;
}

.toggle-bt div {
    background-color:red;
    height: 5px;
    width: 30px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    margin-right: 20px;
}

.nd {
    width: 20px !important;
}

.toggle-bt.clicked .st {
    transform: rotate(45deg);
    top: 13px;
}

.toggle-bt.clicked .nd {
    transform: translateX(20px);
    opacity: 0;
}

.toggle-bt.clicked .rd {
    transform: rotate(-45deg);
    bottom: 7px;
}

.ul-none{
    display: none;
}